<form [formGroup]="testForm">
  <div>
    <input type="text" formControlName="title">
  </div>

  <div>
    <div *ngFor="let r of rules.controls" formGroup="r">
      <mat-checkbox [formControl]="r.get('selected')">
        {{r.get('name').value}}
      </mat-checkbox>
    </div>
  </div>



</form>

<div class="debug">
  {{ testForm.value | json }}
</div>

<style>
  form {
    height: 300px;
  }

  .debug {
    background-color: #e3e3ef;
    padding: 10px;
  }
</style>

<!--  https://blog.grossman.io/real-world-angular-reactive-forms/ -->