<ul>
  <li *ngFor="let type of LookupTypes">
    {{ type }}
  </li>
</ul>

<form [formGroup]="testForm">
  <div>
    <input type="text" formControlName="title">
  </div>

  <div formArrayName="rules">
    <div *ngFor="let r of formRules.controls; let i=index" >
      <div [formGroup]="r">
        <!-- <p>{{ r.value | json }}</p> -->
        <p>
          <input type="checkbox" 
                id="box{{i}}"
                formControlName="selected"
                >
          <label for="box{{i}}">{{ r.value.name }}</label>
        </p>
      </div>
    </div>
  </div>



</form>

<div class="debug">
  {{ testForm.value | json }}
</div>

<style>
  form {
    height: 400px;
  }

  .debug {
    background-color: #e3e3ef;
    padding: 10px;
  }
</style>

<!--  https://blog.grossman.io/real-world-angular-reactive-forms/ -->